.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 1366px;
    height: 55px;
}

.logo {
    width: 60px;
    height: 50px;
    margin-left: 150px;
}

h4 {
    font-size: 21px;
    font-family: 'Viaoda Libre', cursive;
    margin-left: 20px;
}

.input-search {
    margin: 101px;
    width: 400px;
    height: 20px;
    margin-left: 200px;
}

.signin-btn {
    font-size: 21px;
    font-family: 'Viaoda Libre', cursive;
    margin-left: 200px;
    border: none;
    background-color: transparent;
}