.footer{
    background-color:black;
    color:white;
    height:300px;
}
.logo-image{
    width: 80px;
    height: 70px;
}
#lorem{
    width:300px;
    height:30px;
}
.footer-row{
    display:flex;
    flex-direction:row;
}
.footer-brand{
    margin-left:150px;
    margin-top:30px;
}
.footer-brand-logo{
    display:flex;
    flex-direction: row;
}
.footer-link{
    margin-left:200px;
    margin-top:40px;
}
.footer-link p{
    width:100px;
}
.footer-media{
    margin-left:200px;
    margin-top:30px;
}
.google, .apple {
    width: 150px;
    height: 50px;
}
.fb, .pin, .ig{
    margin-left:10px;
}
.copyright{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}