.btn-wrapper{
    margin:50px 50px 0px 50px;
}
.category-btn button{
    border : none;
    background-color: transparent;
    font-weight: bold;
    font-size: 12px;
    color: #8c8989;
    width: 150px;
    margin-left: 30px;
}
.category-btn button:hover{
    background-color: #EB507F;
    border: 3px;
    border-radius: 70px;
    height:30px;
    color:black;
    cursor:pointer
}