.slider {
    width: 100%;
    height: 80vh;
}

.slick-slide {
    height: 80vh;
    box-sizing: border-box;
}

.slick-slide img {
    height: inherit;
    width: 100%;
    box-sizing: border-box;
}
.slick-dots li {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 2vw;
    height: 7vh;
    font-family: "slick";
    font-size: 16px;
}